{% extends "products_manager/base.html" %}
{% block title %}
  Administração |
{% endblock title %}
{% block content %}
  <div class="orders-horizontal-container"
       id="products-form-page-container-container">
    <h2>Editar Produto</h2>
    {% include 'global/partials/messages.html' %}
    <div id="product-form-container">
      {% include 'global/partials/form.html' %}
      <form action="{% url 'products_manager:delete_product' product_id %}"
            method="POST"
            id="exclude-product-form">
        {% csrf_token %}
        <button type="submit" class="alt-btt">Excluir</button>
      </form>
    </div>
  </div>
{% endblock content %}
