{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'global/partials/head.html' %}
    <title>
      {% block title %}
      {% endblock title %}
      Sorvetes
    </title>
  </head>
  <body>
    <div id="page-wrapper">
      {% if not hidden_sidebar %}
        {% include 'products_manager/partials/sidebar.html' %}
      {% endif %}
      <main>
        {% block content %}
        {% endblock content %}
        {% include 'global/partials/pagination.html' %}
      </main>
    </div>
  </body>
  <script src="{% static 'global/scripts/modal.js' %}"></script>
</html>
