{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include 'global/partials/head.html' %}
    <title>
      {% block title %}
      {% endblock title %}
      Sorvetes
    </title>
  </head>
  <body>
    {% include 'products/partials/header.html' %}
    <main>
      {% block content %}
      {% endblock content %}
      {% include 'global/partials/pagination.html' %}
    </main>
    <script src="{% static 'products/scripts/lateralMenu.js' %}"></script>
    <script src="{% static 'products/scripts/cart.js' %}"></script>
    <script src="{% static 'global/scripts/modal.js' %}"></script>
  </body>
</html>
