:root {
  --color-01: #d989ae;
  --color-02: #96c6d9;
  --color-03: #f2cd88;
  --color-04: #f28b30;
  --color-05: #d94711;

  --color-dark-text: #444;

  --font-primary: 'Poppins';

  --spacing-gutter-light: 2rem;
  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;

  --shadow-light: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--font-primary);
}

/* HEADER */
#logo {
  height: 8rem;
  width: 8rem;
}

#header,
header {
  background-color: var(--color-01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

li {
  list-style: none;
}

#header li:hover,
header li:hover {
  opacity: 65%;
  transition: all 150ms;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.selected {
  opacity: 65%;
}

#nav-options {
  display: none;
}

#lateral-menu {
  background-color: var(--color-01);
  position: absolute;
  right: 0;
  padding: 2rem;
  width: fit-content;
  min-width: 20rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--color-02);
}

.display-none {
  display: none !important;
}

.burger-menu-container i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* SEARCH-BAR */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.search-form {
  display: flex;
  background-color: white;
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-02);
  border-radius: 1rem;
  gap: 1rem;
}

.search-form:focus-within {
  outline: 2px solid var(--color-01);
}

.search-button-container button {
  padding: 0.5rem;
}

.search-button-container button,
.search-field-container,
.search-field-container input {
  background-color: transparent;
  border: none;
}

.search-field-container,
.search-field-container input {
  height: 100%;
  font-size: 1.4rem;
  min-width: 21rem;
}

.search-field-container input:focus {
  outline: none;
}

.filter-button-container,
.search-button-container button {
  cursor: pointer;
  font-size: 1.6rem;
}

.search-button-container button:hover,
.filter-button-container:hover {
  opacity: 65%;
}

/* PRODUCTS */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: var(--spacing-gutter-light);
  justify-items: center;
  padding: 0 3rem;
}

.product-card-container {
  background-color: var(--color-03);
  border-radius: 1rem;
  max-width: 25rem;
  overflow: hidden;
  box-shadow: var(--shadow-light);
  border: 1px solid var(--color-02);
}

.prod-info {
  padding: 0 0.6rem;
}

.product-card-container hr {
  max-width: 90%;
  margin: auto;
}

.image-container img {
  max-width: 100%;
}

.product-card-container .lay-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.product-card-container .lay-1 .add-to-cart-button {
  font-size: 2.5rem;
  color: var(--color-02);
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.product-card-container .lay-1 .add-to-cart-button:hover {
  transition: 300ms;
  transform: scale(1.1);
}

.product-card-container .lay-2 {
  padding: 0.5rem 1rem 1.2rem 1rem;
}

@media (min-width: 400px) {
  /* HEADER */
  #nav-options {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }

  #lateral-menu,
  .burger-menu-container {
    display: none;
  }

  /* PRODUCTS GRID */
  .cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }
}
