:root {
  --color-01: #d989ae;
  --color-02: #96c6d9;
  --color-03: #f2cd88;
  --color-04: #f28b30;
  --color-05: #d94711;

  --color-dark-text: #444;

  --font-primary: 'Poppins';

  --spacing-gutter-light: 2rem;
  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;

  --shadow-light: 1px 1px 5px rgba(0, 0, 0, 0.3);
  --shadow-medium: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

body {
  font-family: var(--font-primary);
}

/* GENERAL */
.center {
  margin: auto;
  text-align: center;
}

/* HEADER */
#logo {
  height: 8rem;
  width: 8rem;
}

#header,
header {
  background-color: var(--color-01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

li {
  list-style: none;
}

#header li:hover,
header li:hover {
  opacity: 65%;
  transition: all 150ms;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.selected {
  opacity: 65%;
}

#nav-options {
  display: none;
}

#lateral-menu {
  background-color: var(--color-01);
  position: absolute;
  right: 0;
  padding: 2rem;
  width: fit-content;
  min-width: 20rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--color-02);
}

.display-none {
  display: none !important;
}

.burger-menu-container i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* SEARCH-BAR */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.search-form {
  display: flex;
  background-color: white;
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-02);
  border-radius: 1rem;
  gap: 1rem;
}

.search-form:focus-within {
  outline: 2px solid var(--color-01);
}

.search-button-container button {
  padding: 0.5rem;
}

.search-button-container button,
.search-field-container,
.search-field-container input {
  background-color: transparent;
  border: none;
}

.search-field-container,
.search-field-container input {
  height: 100%;
  font-size: 1.4rem;
  min-width: 21rem;
}

.search-field-container input:focus {
  outline: none;
}

.filter-button-container,
.search-button-container button {
  cursor: pointer;
  font-size: 1.6rem;
}

.search-button-container button:hover,
.filter-button-container:hover {
  opacity: 65%;
}

/* PRODUCTS */
.main-title {
  color: var(--color-04);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: var(--spacing-gutter-light);
  justify-items: center;
  padding: 0 3rem;
}

.product-card-container {
  background-color: var(--color-03);
  border-radius: 1rem;
  max-width: 25rem;
  overflow: hidden;
  box-shadow: var(--shadow-medium);
  transition: all ease-in-out 300ms;
  border: 1px solid var(--color-02);
}

.product-card-container:hover {
  transition: all ease-in-out 300ms;
  transform: scale(1.02);
}

.prod-info {
  padding: 0 0.6rem;
}

.product-card-container hr {
  max-width: 90%;
  margin: auto;
}

img {
  max-width: 100%;
}

.product-card-container .lay-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.add-to-cart-button,
.add-to-cart-button a {
  font-size: 2.5rem;
  color: var(--color-02);
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 300ms;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-to-cart-button:hover {
  transition: all ease-in-out 300ms;
  transform: scale(1.5);
}

.product-card-container .lay-2 {
  padding: 0.5rem 1rem 1.2rem 1rem;
}

/* CART */
.cart-container {
  background-color: white;
  max-width: fit-content;
  border-radius: 1rem;
  padding: 3rem 2rem;
  margin-top: var(--spacing-gutter-medium);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: var(--shadow-light);
}

.orange-button {
  width: fit-content;
  cursor: pointer;
  background-color: var(--color-04);
  color: white;
  padding: 1.3rem 0.8rem;
  border: none;
  min-width: 9rem;
  font-weight: bolder;
  border-radius: 0.6rem;
  transition: all ease-in-out 300ms;
  margin-top: 0.5rem;
  box-shadow: var(--shadow-light);
  letter-spacing: 0.8px;
}

.orange-button a {
  color: white;
  text-decoration: none;
}

.orange-button:hover {
  border: 1px solid var(--color-04);
  background-color: white;
  color: var(--color-04);
  transition: all ease-in-out 300ms;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.subtotal-cart {
  font-weight: bold;
  font-size: 14pt;
}

.subtotal-value-container {
  color: var(--color-02);
}

/* CART PRODUCT CARD */
.cart-product {
  display: flex;
  gap: var(--spacing-gutter-medium);
  margin: 2.5rem 0;
}

.cart-img {
  width: 13rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.cart-product-info {
  display: flex;
  padding: 0.7rem 0;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}

.cart-product-buttons {
  display: flex;
  margin-top: 2rem;
  height: fit-content;
  align-items: center;
  gap: 2rem;
}

.cart-product-buttons button {
  border: none;
  background-color: transparent;
  color: var(--color-02);
  font-size: 22pt;
  cursor: pointer;
}

@media (min-width: 400px) {
  /* HEADER */
  #nav-options {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }

  #lateral-menu,
  .burger-menu-container {
    display: none;
  }

  /* PRODUCTS GRID */
  .cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }
}
