:root {
  --color-01: #d989ae;
  --color-02: #96c6d9;
  --color-03: #f2cd88;
  --color-04: #f28b30;
  --color-05: #d94711;

  --color-dark-text: #444;

  --font-primary: 'Poppins';

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

body {
  font-family: var(--font-primary);
}

/* HEADER */
#logo {
  height: 8rem;
  width: 8rem;
}

#header,
header {
  background-color: var(--color-01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

li {
  list-style: none;
}

#header li:hover,
header li:hover {
  opacity: 65%;
  transition: all 150ms;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.selected {
  opacity: 65%;
}

#nav-options {
  display: none;
}

#lateral-menu {
  background-color: var(--color-01);
  position: absolute;
  right: 0;
  padding: 2rem;
  width: fit-content;
  min-width: 20rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
  border-top: 1px solid var(--color-02);
}

.display-none {
  display: none !important;
}

.burger-menu-container i {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* SEARCH-BAR */
.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.search-form {
  display: flex;
  background-color: white;
  padding: 0.6rem 1rem;
  border: 2px solid var(--color-02);
  border-radius: 1rem;
  gap: 1rem;
}

.search-form:focus-within {
  outline: 2px solid var(--color-01);
}

.search-button-container button {
  padding: 0.5rem;
}

.search-button-container button,
.search-field-container,
.search-field-container input {
  background-color: transparent;
  border: none;
}

.search-field-container,
.search-field-container input {
  height: 100%;
  font-size: 1.4rem;
  min-width: 21rem;
}

.search-field-container input:focus {
  outline: none;
}

.filter-button-container,
.search-button-container button {
  cursor: pointer;
  font-size: 1.6rem;
}

.search-button-container button:hover,
.filter-button-container:hover {
  opacity: 65%;
}

@media (min-width: 400px) {
  /* HEADER */
  #nav-options {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
  }

  #lateral-menu,
  .burger-menu-container {
    display: none;
  }
}
