{% extends "global/base.html" %}
{% load static %}
{% block title %}
  Carrinho |
{% endblock title %}
{% block content %}
  <div class="cart-container center">
    {% if order %}
      <div class="cart-title">Produtos</div>
      <hr>
      {% for product, quantity in order %}
        {% include 'products/partials/cart-product.html' %}
        <hr>
      {% endfor %}
      <div class="cart-bottom">
        <div class="subtotal-cart">
          <div class="subtotal">Sub-total</div>
          <div class="subtotal-value">R$ 00,00</div>
        </div>
        <div class="confirm-button-cart-container">
          <button class="confirm-cart-button orange-button">Confirmar Compra</button>
        </div>
      </div>
    {% else %}
      <div class="center">Sem produtos no carrinho</div>
      <div class="back-button-container center">
        <button class="back-button orange-button">Voltar</button>
      </div>
    {% endif %}
  </div>
{% endblock content %}
