{% extends "global/base.html" %}
{% block title %}
  Entrar |
{% endblock title %}
{% block content %}
  <div class="register-container">
    <h1 class="bold-title">Entrar</h1>
    {% include 'global/partials/messages.html' %}
    <div class="login-register-form-container">
      {% include 'products/partials/user-form.html' %}
      <div class="container-center register-button-container">
        <a href="{% url 'products:register_user' %}">
          <button class="alt-btt">Cadastrar</button>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}
