{% extends "global/base.html" %}
{% block title %}
  Produtos
{% endblock title %}
{% block content %}
  {% include 'products/partials/search-bar.html' %}
  <div class="center main-title">
    <h1>Nossos Produtos</h1>
  </div>
  {% include 'global/partials/messages.html' %}
  {% if products %}
    <div class="cards-grid">
      {% for product in products %}
        {% include 'products/partials/product-card.html' %}
      {% endfor %}
    </div>
  {% else %}
    <div class="center">
      <h1>Sem produtos disponíveis</h1>
    </div>
  {% endif %}
{% endblock content %}
