:root {
  --bg-color: #ffeaea;
  --color-dark-text: #444;
  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--bg-color);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* MESSAGES */
.message {
  padding: 1rem;
  border-radius: 4px;
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  width: fit-content;
  margin: 2rem auto;
}

.message-error {
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-alert {
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}

.message-info {
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}
