:root {
  --bg-color: #ffeaea;
  --color-dark-text: #444;
  --font-primary: sans-serif;
  --font-headings: 'Roboto Slab', serif;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-primary);
  background: var(--bg-color);
  color: var(--color-dark-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

/* GENERAL */
.center {
  margin: auto;
  text-align: center;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-btt,
.alt-btt {
  padding: 1.2rem 2.5rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  transition: 100ms all ease-in-out;
  cursor: pointer;
}

.main-btt:hover,
.alt-btt:hover {
  transform: scale(1.05);
}

.main-btt {
  color: white;
  background-color: var(--color-05);
  border: none;
}

.main-btt:hover {
  color: black;
  background-color: white;
  border: 1px solid var(--color-05);
}

.alt-btt {
  background-color: white;
  border: 1px solid var(--color-05);
}

.alt-btt:hover {
  color: white;
  background-color: var(--color-05);
  border: none;
}

.bold-title {
  font-family: var(--font-primary);
  margin-bottom: var(--spacing-gutter-medium);
}

.errorlist {
  margin-top: 0.5rem;
}

.no-style-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* MESSAGES */
.message {
  padding: 1rem;
  border-radius: 4px;
  background: var(--color-gray-2);
  color: var(--color-dark-text);
  width: fit-content;
  margin: 2rem auto;
}

.message-error {
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-alert {
  background: var(--color-alert-light);
  color: var(--color-alert-dark);
}

.message-info {
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

.messages-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

/* FORM */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--spacing-gutter-light) / 2);
}

.form-group input {
  min-width: 27rem;
  min-height: 3.5rem;
  border: 1px solid var(--color-04);
  border-radius: 0.5rem;
  font-size: 12pt;
  padding: 0.2rem;
}

.form-submit-btt-container button {
  margin-top: 2rem;
}

.form-errors,
.errorlist {
  color: var(--color-error);
}

.register-button-container {
  margin-top: var(--spacing-gutter-light);
}
