{% load static %}
<div class="cart-product" id="cart-product-{{ product.id }}">
  <div class="cart-img">
    {% if product.cover %}
      <img src="{{ product.cover.url }}" alt="imagem do produto">
    {% else %}
      <img src="{% static 'products/images/system-logo.png' %} "
           alt="logo do sistema">
    {% endif %}
  </div>
  <div class="cart-product-info">
    <div class="cart-product-name">{{ product.name }}</div>
    <div class="cart-product-price">
      R$ <span class="cart-price">{{ product.price }}</span>
    </div>
  </div>
  <div class="cart-product-buttons">
    <div class="minus-product-button">-</div>
    <input type="number"
           class="quantity-input"
           name="quantity-{{ product.id }}"
           value="{{ quantity }}"
           min="1">
    <span class="quantity">{{ quantity }}</span>
    <div class="plus-product-button">+</div>
  </div>
</div>
