{% comment %} precisa estar dentro de um formulário de pesquisa {% endcomment %}
<div class="modal hidden" id="filter-modal">
  <div class="filter-modal-container">
    <h3 class="center">Escolha os filtros</h3>
    <div class="price-filter">
      <label for="filter-min-value">Valor Mínimo</label>
      <input name="min_value"
             id="filter-min-value"
             type="number"
             class="min-price-input"
             min="0"
             placeholder="10">
      <label for="filter-max-value">Valor Máximo</label>
      <input name="max_value"
             id="filter-max-value"
             type="number"
             class="min-price-input"
             placeholder="100">
    </div>
    <div class="category-filter">
      <strong>Categorias</strong>
      <div class="categories-filter">
        {% for category in categories %}
          <div class="categorie-opt">
            <input type="checkbox"
                   name="category_{{ category.name }}"
                   id="category-{{ category.name }}">
            <label for="category-{{ category.name }}">{{ category.name }}</label>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="filter-ok-button-container">
      <button class="filter-ok-button orange-button filter-button-toggle">OK</button>
    </div>
  </div>
</div>
