<div id="header-container">
  <header id="header">
    <div class="logo-container">
      <img src="" alt="" id="logo">
      LOGO
    </div>
    <nav id="nav-container">
      <div class="burger-menu-container">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul id="nav-options">
        <li class="nav-items">
          <a href="" class="nav-link selected">produtos</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">compras</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">carrinho</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">sair</a>
        </li>
      </ul>
    </nav>
  </header>
  <ul id="lateral-menu">
    <li class="nav-items">
      <a href="" class="nav-link selected">produtos</a>
    </li>
    <li class="nav-items">
      <a href="" class="nav-link">compras</a>
    </li>
    <li class="nav-items">
      <a href="" class="nav-link">carrinho</a>
    </li>
    <li class="nav-items">
      <a href="" class="nav-link">sair</a>
    </li>
  </ul>
</div>
