{% load static %}
<div id="header-container">
  <header id="header">
    <div class="logo-container">
      <a href="{% url 'products:products' %}">
        <img src="{% static 'products/images/system-logo-no-bg.png' %}"
             alt="system-logo"
             id="logo">
      </a>
    </div>
    <nav id="nav-container">
      <div class="burger-menu-container">
        <i class="fa-solid fa-bars"></i>
      </div>
      <ul id="nav-options">
        <li class="nav-items">
          <a href="{% url 'products:products' %}" class="nav-link selected">produtos</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">compras</a>
        </li>
        <li class="nav-items">
          <a href="{% url 'products:cart' %}" class="nav-link">carrinho</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">sair</a>
        </li>
      </ul>
    </nav>
  </header>
  <ul id="lateral-menu" class="display-none">
    <li class="nav-items">
      <a href="" class="nav-link selected">produtos</a>
    </li>
    <li class="nav-items">
      <a href="" class="nav-link">compras</a>
    </li>
    <li class="nav-items">
      <a href="{% url 'products:cart' %}" class="nav-link">carrinho</a>
    </li>
    <li class="nav-items">
      <a href="" class="nav-link">sair</a>
    </li>
  </ul>
</div>
