<div class="order-card-container">
  <div class="order-header">
    <span class="order-date">{{ order.created_at|date:"d \\d\\e F \\d\\e Y" }}</span>
    <span class="order-total-value">R$ {{ order.total_value }}</span>
  </div>
  <div class="order-body">
    <div class="order-body-header">
      <span>Entregue</span>
      <span>Quantidade Total: {{ order.items_number }}</span>
    </div>
    <hr>
    <div class="order-products">
      {% for item in order.items.all %}
        {% include 'products/partials/order-product-card.html' %}
      {% endfor %}
    </div>
  </div>
</div>
