{% load static %}
<div class="order-product-card-container">
  <div class="image-container">
    {% if product.cover %}
      <img src="{{ product.cover.url }}" alt="produto imagem">
    {% else %}
      <img src="{% static 'products/images/system-logo.png' %}"
           alt="produto imagem">
    {% endif %}
  </div>
  <div class="order-product-info">
    <span>{{ item.product.name }}</span>
    <span>R$ {{ item.product.price }}</span>
    <span>Unidades: {{ item.quantity }}</span>
  </div>
</div>
